rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /users/{uid} {
      allow read:   if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null && request.auth.uid == uid;

      match /todo_collections/{docId} {
        allow read, delete:   if request.auth != null && request.auth.uid == uid;
        allow create, update: if request.auth != null && request.auth.uid == uid;
      }
      match /planner/{taskId} {
        allow read, delete:   if request.auth != null && request.auth.uid == uid;
        allow create, update: if request.auth != null && request.auth.uid == uid;
      }
      match /categories/{categoryId} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
    match /spaces/{spaceId} {
      allow read, write: if request.auth != null; 
      match /tasks/{taskId} {
        allow read, write: if request.auth != null;
      }
      match /reminders/{reminderId} {
        allow read, write: if request.auth != null;
      }
    }
    
  }
}